.DS_Store
*.ipynb
env
test
__pycache__
test 

# my personal data
my_port.csv
crypto_wallet_addresses.json

# crypto data
data/crypto/*

# temp exclusion
data/2021*
data/finno/*
data/ft-funds/*
data/fred/*