.DS_Store
# *.ipynb
env
test
__pycache__
test 
archive

# notebook on test 
test_*

# my personal data
my_port.csv
crypto_wallet_addresses.json
region_rank.csv
sector_rank.csv 
stock_rank.csv

# all price data
data/crypto/*
data/set/*
data/tmp/*

# temp exclusion
data/2021*
data/ft-funds/*
data/fred/*
data/prices/*

# loaded data (too much to upload) 
data/edgar/*
data/thai_sec/*

# credentials
creds.json
creds_meta.json
*creds*

# FINNOMENA data
*/finno/*
finno*.ipynb