.DS_Store
# *.ipynb
.vscode
env
test
__pycache__
test 
archive

# notebook on test 
test_*

# my personal data
my_port.csv
crypto_wallet_addresses.json
region_rank.csv
sector_rank.csv 
stock_rank.csv

# all data
data/*

# credentials
creds.json
creds_meta.json
*creds*

# FINNOMENA data
*/finno/*
finno*.ipynb