alphalens
beautifulsoup4
cvxpy
frozendict
ipykernel
ipython
Jinja2
joblib
jupyter_client
jupyter_core
matplotlib
matplotlib-inline
numpy
pandas
pandas-datareader
Pillow
pyarrow
pyportfolioopt
requests
scikit-learn
scipy
seaborn
selenium
statsmodels
streamlit
tradingview-datafeed
tzlocal
urllib3
virtualenv
xlrd
yfinance
